@media (max-width: 1430px) {
    .search-container input[type="text"] {
        width: 450px;
    }
}

@media (max-width: 1208px) {
    .search-container input[type="text"] {
        width: 400px;
    }
    .auth-buttons button, .auth-buttons a {
        margin: 20px 30px 0px 5px;
    }
}

@media (max-width: 1165px) {
    .search-container input[type="text"] {
        width: 350px;
    }
    .auth-buttons button, .auth-buttons a {
        padding: 8px 16px;
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 14px;
    }
    .search-container input[type="text"] {
        width: 300px;
    }
    .logo img {
        height: 35px;
        margin-left: 20px;
    }
    .auth-buttons button, .auth-buttons a {
        margin: 10px 20px 0px 5px;
    }
     .tab-container {
        width: 90%;
    }

    .tablink {
        padding: 10px 10px;
        font-size: 14px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select,
    input[type="submit"],
    button {
        width: 90%;
        font-size: 14px;
    }

    .footer-container {
        width: 90%;
    }
}

@media (max-width: 782px) {
    .search-container input[type="text"] {
        width: 250px;
    }
    .auth-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
    .auth-buttons button, .auth-buttons a {
        margin: 10px 0 0 10px;
    }
     .tab-container {
        width: 80%;
    }

    .user-info img {
        max-width: 80%;
    margin: 10px 10px 10px 5%;
    }

    .reject-button {
  font-size: 12;
}

    .tablink {
        padding: 10px 5px;
        font-size: 12px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select,
    input[type="submit"],
    button {
        width: 75%;
        font-size: 12px;
    }

    .checkbox-label {
        font-size: 14px;
    }

    .checkbox-input {
        width: 18px;
        height: 18px;
    }

    .footer-container {
        width: 95%;
    }

    .footer-section {
        padding: 15px;
    }

    .footer-section h2 {
        font-size: 16px;
    }

    .footer-section p {
        font-size: 14px;
    }

}

@media (max-width: 560px) {
    .container1, .container3 {
        flex-direction: column;
        align-items: center;
        width: 110%;
    }
    .logo img {
        height: 30px;
        margin-left: 10px;
    }
    .search-container input[type="text"] {
        width: 200px;
    }
    .search-container input[type="submit"] {
        width: auto;
        text-align: auto;
        height: 30px;
    }
    .tab-container {
        width: 100%;
        padding: 15px;
    }

    .tablink {
        padding: 8px 5px;
        font-size: 10px;
    }
     input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select,
    input[type="submit"],
    button,
    button.mark-button {
        width: 75%;
        font-size: 12px;
    }

    .checkbox-label {
        font-size: 12px;
    }

    .checkbox-input {
        width: 16px;
        height: 16px;
    }

    .vacancy {
        padding: 8px;
    }

    .vacancy h3 {
        font-size: 16px;
    }

    .vacancy p {
        font-size: 12px;
    }

    .vacancy .favorite-count {
        font-size: 14px;
    }

    footer {
        width: 105%;
    }

    .footer-section {
        padding: 10px;
    }

    .footer-section h2 {
        font-size: 14px;
    }

    .footer-section p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    .logo a {
        font-size: 20px;
    }
    .auth-buttons button, .auth-buttons a {
        font-size: 12px;
        padding: 8px 16px;
    }
    .tablink {
        font-size: 10px;
        padding: 8px 2px;
    }
     input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select,
    input[type="submit"],
    button,
    button.mark-button {
        font-size: 10px;
    }

    .checkbox-label {
        font-size: 10px;
    }

    .checkbox-input {
        width: 14px;
        height: 14px;
    }

    .vacancy h3 {
        font-size: 14px;
    }

    .vacancy p {
        font-size: 10px;
    }

    .vacancy .favorite-count {
        font-size: 12px;
    }

    .footer-section h2 {
        font-size: 12px;
    }

    .footer-section p {
        font-size: 10px;
    }
    .user-info ul {
        font-size: 14px;
    }
       footer {
        width: 110%;
    }
}

@media (max-width: 360px) {
    .search-container input[type="text"] {
        width: 100px;
    }
    .auth-buttons button, .auth-buttons a {
        font-size: 10px;
        padding: 6px 12px;
    }
    .tablink {
        font-size: 8px;
        padding: 5px 2px;
    }

    .tabcontent {
        padding: 15px;
    }
     input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select,
    input[type="submit"],
    button,
    button.mark-button {
        font-size: 8px;
    }

    .checkbox-label {
        font-size: 8px;
    }

    .checkbox-input {
        width: 12px;
        height: 12px;
    }

    .vacancy h3 {
        font-size: 12px;
    }

    .vacancy p {
        font-size: 8px;
    }

    .vacancy .favorite-count {
        font-size: 10px;
    }

    .footer-section h2 {
        font-size: 10px;
    }

    .footer-section p {
        font-size: 8px;
    }
    .user-info ul {
        font-size: 10px;
    }

}
